html,body {
    height: 100%;
    background: #fff;
    scroll-behavior: smooth;
}
html,body,section,img,a,ul,li {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
section {
    height: 100vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position: relative;
}
section img {
    height: 100%;
    width: auto;
   -o-object-fit: cover;
       object-fit: cover
}
section.fullscreen > img {
    width: 100%;
}
section.rightalign {
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
}
section.rightalign img {
    width: auto;
}
section#p1 {
    -webkit-box-align: end;
    -ms-flex-align: end;
        align-items: end;
}
section#p1 div img {
    height: 65%;
}
.pall_sn,
.pall_sd {
    position: absolute;
    left: 50px;
}
.pall_sn {
    top: 70px;
}
.pall_sd {
    bottom: 70px;
}
section#p1 .pall_sd {
    left: 50%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
        transform: translateX(-50%);
}
.nav {
    position: absolute;
    padding: 70px 100px;
}
.nav:hover {
    cursor: pointer;
}
.nav > img {
    width: 32px !important;
}
.nav ul {
    display: none;
    position: absolute;
}
.nav ul li {
    list-style: none;
}
.nav:hover ul {
    display: block;
}
section.row ul a {
    display: inline-block;
    float: right;
}

img[src="phin/gp1.png"],img[src="phin/gp1h.png"] {height: 30px}
img[src="phin/gp2.png"],img[src="phin/gp2h.png"] {height: 28px}
img[src="phin/gp3.png"],img[src="phin/gp3h.png"] {height: 30px}
img[src="phin/gp4.png"],img[src="phin/gp4h.png"] {height: 21px}
img[src="phin/gp5.png"],img[src="phin/gp5h.png"] {height: 23px}
img[src="phin/gp6.png"],img[src="phin/gp6h.png"] {height: 26px}
img[src="phin/gp7.png"],img[src="phin/gp7h.png"] {height: 28px}
img[src="phin/gp8.png"],img[src="phin/gp8h.png"] {height: 28px}
img[src="phin/gp9.png"],img[src="phin/gp9h.png"] {height: 32px}
img[src="phin/gp10.png"],img[src="phin/gp10h.png"] {height: 27px}
img[src="phin/gp11.png"],img[src="phin/gp11h.png"] {height: 23px}
img[src="phin/gp12.png"],img[src="phin/gp12h.png"] {height: 30px}

section.small ul a img {
    height: 18px;
}
