html,body {
    height: 100%;
    background: #fff;
    scroll-behavior: smooth;
}
html,body,section,img {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
section {
    height: 100vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position: relative;
}
section img {
    height: 100%;
    width: auto;
   -o-object-fit: cover;
       object-fit: cover
}
section.fullscreen img {
    width: 100%;
}
section#p1 {
    -webkit-box-align: end;
    -ms-flex-align: end;
        align-items: end;
}
section#p1 div img {
    height: 65%;
}
.pall_sn,
.pall_sd {
    position: absolute;
    left: 50px;
}
.pall_sn {
    top: 70px;
}
.pall_sd {
    bottom: 70px;
}
section#p1 .pall_sd {
    left: 50%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
        transform: translateX(-50%);
}
